@charset "UTF-8";
.middle-blue-font {
  color: #00f6ed !important;
}

.typed-cursor {
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  opacity: 1;
}

.paddingtop {
  padding-top: 100px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*

background

*/
/* Le conteneur qui contient tout le background */
/* Conteneur pour la neige */
.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* La neige n'interagit pas avec les clics */
}

/* Flocon de neige générique */
.snowflake {
  position: absolute;
  top: -10px;
  width: var(--size);
  height: var(--size);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  animation: fall var(--duration) linear infinite;
  animation-delay: var(--delay); /* Délai aléatoire d'apparition */
  opacity: var(--opacity);
}

/* Animation de chute de neige */
@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
/* Créer plusieurs flocons avec différentes tailles et vitesses */
.snowflake:nth-child(1) {
  left: 10%;
  animation-duration: 8s;
  width: 6px;
  height: 6px;
}

.snowflake:nth-child(2) {
  left: 30%;
  animation-duration: 6s;
  width: 8px;
  height: 8px;
}

.snowflake:nth-child(3) {
  left: 50%;
  animation-duration: 10s;
  width: 10px;
  height: 10px;
}

.snowflake:nth-child(4) {
  left: 70%;
  animation-duration: 7s;
  width: 5px;
  height: 5px;
}

.snowflake:nth-child(5) {
  left: 90%;
  animation-duration: 9s;
  width: 7px;
  height: 7px;
}

/*

Structure SCSS

*/
/*!
 * Start Bootstrap - Agency Bootstrap Theme (https://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
  color: #777;
}

.text-primary {
  color: #1ee2e7;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: #1ee2e7;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #17d0d5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.bg-darkest-gray {
  background-color: #222;
}

.bg-dark-gray {
  background-color: #5e5d5d;
}

.btn-primary {
  border-color: #1ee2e7;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #1ee2e7;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border-color: #17d0d5;
  color: #fff;
  background-color: #17d0d5;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #1ee2e7;
  background-color: #1ee2e7;
}

.btn-primary .badge {
  color: #1ee2e7;
  background-color: #fff;
}

.btn-xl {
  padding: 20px 40px;
  border-color: #1ee2e7;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #1ee2e7;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  border-color: #17d0d5;
  color: #fff;
  background-color: #17d0d5;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  border-color: #1ee2e7;
  background-color: #1ee2e7;
}

.btn-xl .badge {
  color: #fed136;
  background-color: #fff;
}

.navbar-default {
  border-color: transparent;
  background-color: #222;
}

.navbar-default .navbar-brand {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #fec503;
}

.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}

.navbar-default .navbar-toggle {
  border-color: #1ee2e7;
  background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1ee2e7;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #1ee2e7;
}

.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: #fff;
  background-color: #1ee2e7;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #17d0d5;
}

.profile-photo {
  margin: 40px auto;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.profile-photo:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #222;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
.parallax-window {
  min-height: 400px;
  background: transparent;
}

header {
  text-align: center;
  color: #fff;
  position: relative; /* Pour permettre au contenu d'être positionné correctement */
  text-align: center;
  color: #fff;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
}

header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 300px;
  }
  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 50px;
  }
  header .intro-text .intro-heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }
}
@media (max-width: 539px) {
  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
  }
  header .intro-text .intro-heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 10px;
  }
}
@media (min-width: 1440px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 300px;
  }
  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 70px;
    line-height: 70px;
  }
  header .intro-text .intro-heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 300px;
  }
  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 50px;
  }
  header .intro-text .intro-heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
}
section {
  padding: 100px 0;
}

section h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}

section h3.section-subheading {
  margin-bottom: 75px;
  text-transform: none;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #1ee2e7;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  margin: 0;
  font-size: 16px;
  font-style: italic;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  background-color: #f1f1f1;
}

.timeline > li {
  position: relative;
  margin-bottom: 50px;
  min-height: 50px;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  border: 7px solid #f1f1f1;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  background-color: #1ee2e7;
}

.timeline > li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 16px;
    font-size: 13px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  margin: 0 auto;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #222;
  background-image: url(https://unsplash.imgix.net/44/C3EWdWzT8imxs0fKeKoC_blackforrest.JPG?q=75&fm=jpg&auto=format&s=986aaa92169d4e97975fa66ebd60bafd);
  background-position: center;
  background-repeat: no-repeat;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 236px;
}

section#contact .form-control:focus {
  border-color: #1ee2e7;
  box-shadow: none;
}

section#contact::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact:-moz-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact::-moz-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact .text-danger {
  color: #e74c3c;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 40px;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 40px;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #1ee2e7;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0;
}

/*
**************************** MODAL ********************************
*/
.portfolio-modal .modal-content {
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-size: 16px;
  font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content ul li {
  list-style-type: none;
}

/*
  ********************* section logo fin de modal
*/
.tech-logos {
  display: flex; /* Utilise Flexbox pour l'alignement */
  justify-content: center; /* Centre les logos horizontalement */
  flex-wrap: wrap; /* Permet aux logos de passer à la ligne si nécessaire */
  margin: 20px 0; /* Marge autour du conteneur des logos */
}

.tech-logo {
  width: 100px; /* Largeur fixe pour les logos */
  height: auto; /* Garde le ratio d'aspect des logos */
  margin: 10px; /* Espace autour de chaque logo */
  transition: transform 0.3s; /* Transition pour l'animation */
}

/* Effet de zoom au survol */
.tech-logo:hover {
  transform: scale(1.1); /* Agrandit le logo au survol */
}

/*
  *********************** cards pour les compétences
*/
.portfolio-skills {
  list-style-type: none; /* Supprime les puces */
  padding: 0; /* Supprime le remplissage par défaut */
  margin: 0; /* Supprime la marge par défaut */
}

.portfolio-skills li {
  padding: 10px; /* Espace interne */
  color: #777; /* Couleur du texte */
  border-radius: 5px; /* Coins arrondis */
  margin-bottom: 10px; /* Espace entre les éléments */
  transition: background-color 0.3s; /* Animation au survol */
}

.portfolio-skills li:hover {
  background-color: #71b6ff; /* Couleur d'arrière-plan au survol */
}

/* Points fort */
.project-highlights {
  list-style-type: none; /* Supprime les puces */
  padding: 0; /* Supprime le remplissage par défaut */
  margin: 0; /* Supprime la marge par défaut */
}

.project-highlights li {
  position: relative; /* Nécessaire pour positionner l'icône */
  padding-left: 30px; /* Espace pour l'icône */
  margin-bottom: 15px; /* Espace entre les éléments */
  font-size: 1.1em; /* Taille de police plus grande */
  color: #333; /* Couleur du texte */
}

.project-highlights li i {
  position: absolute; /* Positionne l'icône par rapport au parent */
  left: 0; /* Aligne l'icône à gauche */
  font-size: 1.2em; /* Taille de l'icône */
  color: #00c451; /* Couleur personnalisée pour les icônes */
  margin-right: 10px; /* Espace entre l'icône et le texte */
}

.skill-card {
  background-color: #f9f9f9; /* Couleur de fond */
  border: 1px solid #ddd; /* Bordure légère */
  border-radius: 5px; /* Coins arrondis */
  padding: 15px; /* Espace interne */
  margin-bottom: 10px; /* Espace entre les cartes */
  transition: box-shadow 0.3s; /* Animation d'ombre */
}

.skill-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre au survol */
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #222;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  background-color: #222;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*
 ************************
*/
::-moz-selection {
  text-shadow: none;
  background: #1ee2e7;
}

::selection {
  text-shadow: none;
  background: #1ee2e7;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #1ee2e7;
}

/*
  Donuts (Pie charts)
*/
.chart-container {
  display: flex; /* Utilisation de flexbox pour cette section spécifique */
  justify-content: space-around; /* Ajuste l'espace entre les pie charts */
  align-items: flex-start; /* Alignement vertical des pie charts */
}

.chart-container .pie-chart {
  max-width: 300px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.pie-chart {
  max-width: 300px;
  display: inline-block;
  position: relative;
}
.pie-chart + .pie-chart {
  margin-left: 40px;
}
.pie-chart .max-circ {
  width: 200px;
  height: 200px;
  margin: auto;
  padding-top: 80px;
  border-radius: 50%;
  background: #20405f;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.3), 0 0 7px rgba(255, 255, 255, 0.8);
}
.pie-chart .max-circ span {
  display: block;
}
.pie-chart .max-circ .label {
  font-size: 11px;
  margin: 0 0 10px;
}
.pie-chart .max-circ .value {
  font-size: 24px;
  font-weight: 700;
  filter: brightness(1.4);
}
.pie-chart .legend {
  margin: 20px 0 0;
  font-size: 17px;
  text-align: center;
}
.pie-chart .legend li {
  margin: 5px 0; /* Marge ajustée pour espacer verticalement les éléments */
  padding: 8px 8px 5px;
  border-radius: 1px;
  display: block; /* Change inline-block en block pour un affichage vertical */
  background: rgba(0, 0, 0, 0.5);
  color: #ddd;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  transition: background 0.2s, opacity 0.2s, transform 0.2s; /* Transition douce */
}
.pie-chart .legend li span {
  color: #fff;
  font-weight: 700;
}
.pie-chart .legend li:hover {
  transform: scale(1.05); /* Effet de zoom au survol */
}
.pie-chart .hover-effect {
  transform: scale(1.05);
  filter: brightness(1.4) grayscale(0);
}
.pie-chart .hover-effect path {
  opacity: 1;
}
.pie-chart .slice {
  cursor: pointer;
  filter: brightness(1) grayscale(0.15);
  transition: transform 0.2s, filter 0.2s;
}
.pie-chart .slice path {
  opacity: 0.75;
  transition: opacity 0.2s;
}
.pie-chart .slice text {
  font-size: 14px;
}
.pie-chart .slice:hover, .pie-chart .slice.max {
  transform: scale(1.05);
  filter: brightness(1.4) grayscale(0);
}
.pie-chart .slice:hover path, .pie-chart .slice.max path {
  opacity: 1;
}

/*# sourceMappingURL=index.css.map */
